[submodule "gym"]
	path = gym
	url = git@github.com:shelhamer/gym.git
	branch = atari-snapshot
[submodule "atari-py"]
	path = atari-py
	url = git@github.com:openai/atari-py.git
[submodule "ourl"]
	path = ourl
	url = git@github.com:shelhamer/ourl.git
